@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, rgb(225, 52, 194) 1.84%, rgba(11, 80, 209, 0.976) 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #833ece -13.86%, #e96c1f 99.55%);
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}
